body {
  max-width: 840px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto", sans-serif;
  margin-top:0;
  padding-left: 10px;
  padding-right: 20px;
  color: #000;
}

a {
  color: #000;
	text-decoration: none;
	cursor: pointer;
}

header{
  height: 70px;
  border-bottom: 1px solid #EFEFEF;
  width: 100%;
  margin-top:15px;
}

.left-side{
  float: left;
  height: 70px;
  margin-top: 5px;
}

.left-side img {
  margin-bottom: -10px;
  cursor: pointer;
}

.slogan{
  border-left: 1px solid #EFEFEF;
  color: #D5CECE;
  font-size: 0.875em;
  margin-left: 10px;
  padding-top:15px;
  padding-left:10px;
  padding-bottom:15px;
  height: 40px;
}

.right-side{
  float: right;
  padding-top: 10px;
}

.share-link {
  width: 94px;
  height: 40px;
  background-color: #E3472F;
  border-radius: 4px;
  border-width: 0;
  font-size: 0.938em;
  color: #FFF;
  cursor: pointer;
  float:left;
}

.register {
  width: 94px;
  height: 40px;
  background-color: #E3472F;
  border-radius: 4px;
  border-width: 0;
  font-size: 0.938em;
  color: #FFF;
  cursor: pointer;
  float:left;
}

.menu {
  width: 40px;
  height: 40px;
  border: 1px solid #EFEFEF;
  background: url(img/menu.png) #FFF no-repeat center;
  border-radius: 4px;
  margin-left: 5px;
  cursor: pointer;
  float:right;
}

.signin {
  width: 94px;
  height: 40px;
  border: 1px solid #EFEFEF;
  background-color: #FFF;
  border-radius: 4px;
  margin-left: 5px;
  cursor: pointer;
  font-size: 0.938em;
  float:right;
  color: #727272;
}


.menu:hover {
  background: url(img/menuHover.png) #E3472F no-repeat center;
}

.dropdown-menu{
  position: absolute;
  margin-top:42px;
  margin-left:38px;
  border-radius: 4px;
  border: 1px solid #EFEFEF;
  color: #727272;
  font-size: 0.875em;
  width: 100px;
  background-color: #FFF;
  padding-left: 0px;
}

.dropdown-menu li{
  list-style: none;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-top: 5px;
  cursor: pointer;
	color: #727272;
}

.dropdown-menu li:hover{
  color: #FFF;
}

.dropdown-menu li:first-child{
  border-bottom: 1px solid #EFEFEF;
}

.dropdown-menu li:first-child:hover{
  background-color: #E3472F;
  color: #FFF;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.dropdown-menu li:last-child:hover{
  background-color: #E3472F;
  color: #FFF;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.search{
  float:left;
  max-width: 800px;
  width: 100%;
  background-color: #FAFAFA;
  height: 33px;
  border-radius: 4px;
  margin-top: 20px;
  background-image: url(img/search.png);
  background-repeat: no-repeat;
  background-position: 10px 10px;
  padding-left: 40px;
  padding-top: 7px;
  margin-bottom: 20px;
}

.search input{
  background: none;
  border: none;
  font-size: 1.125em;
  color: #CACACA;
  width: 90%;
}

.search input:focus{
  outline: none;
}

.filter{
  float:left;
  width: 100%;
  text-align: right;
}

.filter a {
	font-size:0.875em;
	color: #E3472F;
	text-decoration: underline;
}

.filter .secili{
	text-decoration: none;
}

.darkside{
  float:left;
}

.point{
  float:left;
  border: 1px solid #EFEFEF;
  width: 40px;
  height:70px;
  border-radius: 4px;
}
.point img {
  margin-left: 13px;
  margin-top:10px;
  cursor: pointer;
}

.point span {
  margin-top: 10px;
  text-align: center;
  border-top:1px solid #EFEFEF;
  padding-top:10px;
  width: 40px;
  float: left;
}

article{
  float: left;
  margin-top:15px;
	width: 100%;
}

.lightside {
  float:left;
  margin-left:10px;
  margin-top:0px;
}

.url-base{
  font-size: 0.750em;
  color: #CBCBCB;
  padding-left: 1px;
  margin-top: 2px;
}

.lightside h1 {
  font-weight: 300;
  margin-top:3px;
  font-size: 1.500em;
  margin-bottom: 3px;
}

.lightside h1 a {
  text-decoration: none;
}

.link-info {
  font-size: 0.813em;
  color:#CACACA;
  padding-left: 1px;
}

.comment-count{
  color: #E3472F;
  text-decoration: underline;
}

.page-nav{
  float:left;
  max-width: 820px;
  width: 100%;
  margin-top:10px;
  height: 30px;
  padding-top: 10px;
  padding-left:10px;
  padding-right: 10px;
  border-radius: 4px;
  background-color: #FAFAFA;
}
.previous{
  float:left;
	color: #BDBDBD;
  font-size:0.875em;
  background: none;
  border:none;
  cursor:pointer;
}

.previous:disabled, .next:disabled{
  cursor: not-allowed;
}

.next{
  float:right;
  color: #BDBDBD;
  font-size:0.875em;
  background: none;
  border:none;
  cursor:pointer;
}

footer{
  float:left;
  width: 100%;
  font-size: 0.750em;
  color:#D5CECE;
  margin-top: 15px;
}

.section-detail{
  width: 100%;
  float:left;
}

.comment-count{
  color: #E3472F;
  text-decoration: underline;
}

.discussion{
  float:left;
  width: 100%;
  max-width: 720px;
}

.post-comment{
  background-color: #F2F1EC;
  max-width: 720px;
  width: 100%;
  height: 190px;
  float:left;
  border-radius: 4px;
  margin-top: 15px;
  margin-left:50px;
}

.post-comment textarea{
  border-color: #BBBBBB;
  border-radius: 4px;
  margin-left:15px;
  margin-top: 15px;
  float: left;
  margin-right: 200px;
}

.post-button{
  width: 104px;
  height: 30px;
  background-color: #E3472F;
  border-radius: 4px;
  border-width: 0;
  font-size: 0.750em;
  color: #FFF;
  cursor: pointer;
  float:left;
  margin-left: 15px;
  margin-top: 10px;
}

.post-button:disabled{
  cursor:not-allowed;
  background-color: #e3755a;
}

.comment{
  margin-left: 50px;
  float:left;
  margin-top: 15px;
  font-size: 0.875em;
  width: 100%;
}

.mini-point{
  width: 30px;
  height: 53px;
  border: 1px solid #EFEFEF;
  border-radius: 4px;
  float: left;
}

.mini-point img{
  margin-left:8px;
  margin-top:8px;
  cursor:pointer;
}

.mini-point span{
  width: 30px;
  text-align: center;
  float:left;
  margin-top:8px;
  border-top:1px solid #EFEFEF;
  padding-top: 5px;
}
.batman{
  width: 30px;
  float:left;
}

.superman{
  float:left;
  margin-left: 10px;
  max-width: 650px;
}

.comment-info{
  max-width: 600px;
  float:left;
  width: 100%;
}

.commenter{
  color: #E3472F;
}

.comment-info time{
  color: #727272;
  font-size: 0.813em;
}

.comment-text{
  margin-top:5px;
  font-size: 0.900em;
  float:left;
  color: #555555;
}

.section-form{
  float:left;
  max-width: 820px;
  width: 100%;
}

.section-form tr{
  line-height: 30px;
}

.form-table{
  margin:0;
  margin-right: auto;
  margin-left: auto;
  background-color: #F2F1EC;
  padding:20px;
  border-radius: 4px;
}

.form-table span{
  font-weight: 400;
}

input[type="text"], input[type="password"]{
  width: 190px;
  height: 24px;
  border:1px solid #EFEFEF;
  border-radius: 4px;
  font-size: 0.875em;
  padding-left: 3px;
}

input:focus{
  outline: none;
}

.section-form button{
  width: 74px;
  height: 30px;
  background-color: #E3472F;
  border-radius: 4px;
  border-width: 0;
  color: #FFF;
  cursor: pointer;
  float:right;
  font-size: 0.813em;
}

.section-form button:disabled{
  background-color: #e3755a;
  cursor: not-allowed;
}

.section-form h1{
  text-align: center;
  font-size: 1.600em;
  font-weight: 300;
}

.forgot{
  font-size: 0.813em;
  text-decoration: underline;
  color: #727272;
}

.toast-error{
	background-color: #E3472F !important;
}

.showMenu{
  display: inherit;
}
.hideMenu{
  display:none;
}
