<header ng-controller="NavController">
  <div class="left-side">
    <img src="img/logo.png" ui-sref="/">
    <span class="slogan">Slogan is here</span>
  </div>
  <div class="right-side">
    <button class="share-link" ui-sref="share-link" ng-show="signedIn()">Share Link</button>
    <button class="register" ui-sref="register" ng-hide="signedIn()">Register</button>
    <button class="signin" ui-sref="sign-in" ng-hide="signedIn()" ui-sref="sign-in" >Sign In</button>
    <button class="menu" ng-show="signedIn()" ng-init="menuOpen = false" ng-click="menuOpen = !menuOpen"></button>
    <ul class="dropdown-menu" ng-class="menuOpen == true ? 'showMenu' : 'hideMenu'">
      <a ui-sref="change-pass" ng-show="signedIn()" ng-click="menuOpen = false"><li>Profile</li></a>
      <a href="#" ng-click="logout(user)" ng-show="signedIn()"><li>Sign Out</li></a>
    </ul>
  </div>
</header>
