<div class="search">
    <input placeholder="Search" onclick="this.placeholder=''" ng-model="searchText">
</div>
<section>
  <div class="filter"><a ng-class="predicate == '-lastPoint' ? 'selected' : ''" ng-click="predicate = '-lastPoint'">Most Popular</a> - <a ng-class="predicate == '-date' ? 'selected' : ''" ng-click="predicate = '-date'">Newest</span></div>
  <article ng-repeat="post in posts | orderBy:predicate | filter: searchText | limitTo: pageSize : currentPage*pageSize | filter: searchText ">
    <div class="darkside">
      <div class="point">
        <img src="img/up.png" ng-click="givePoint(post.$id)">
        <span>{{post.numberOfPoint}} p</span>
      </div>
    </div>
    <div class="lightside">
      <div class="url-base">{{post.linkBase.toUpperCase()}}</div>
      <h1><a href="{{post.link}}" target="_blank">{{post.title}}</a></h1></a>
      <div class="link-info">
        <span class="author">{{post.user}}</span> • <span class="time" am-time-ago="post.date"></span> • <a class="comment-count" href="#/link/{{post.$id}}">{{post.numberOfComment}} Comments</a>
      </div>
    </div>
  </article>
</section>
<div class="page-nav">
  <button class="previous" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">Previous</button><button class="next" ng-disabled="currentPage >= posts.length/pageSize - 1" ng-click="currentPage=currentPage+1">Next</button>
</div>
