﻿<div class="content">
	<div class="nav">
		<div class="addlink"><a ui-sref="/"><p>« anasayfaya dön</p></a></div>
	</div>
	<div class="page">
		<div class="regpage">
			<p class="pagetitle">kayıt ol</p><br/>
			<form class="inform" name="frm">
				<p class="inputname3">kullanıcı adı:</p><input type="text" ng-model="user.name" required><br/>
				<p class="inputname4">şifre:</p><input type="password" ng-model="user.password" required><br/>
				<p class="inputname5">email:</p><input type="text" ng-model="user.email" required><br/>
				<button ng-click="register(user)" ng-disabled="frm.$invalid">kayıt ol</button>
			</form>
		</div>
	</div>
</div>