<div class="detail">
	<article>
		<div class="darkside">
			<div class="point">
				<img src="img/up.png" ng-click="puanVer(post.$id)">
				<span>{{post.puanSayisi}} p</span>
			</div>
		</div>
		<div class="lightside">
			<span class="url-base">{{post.linkkok}}</span>
			<h1><a href="{{post.link}}">{{post.baslik}}</a></h1>
			<div class="link-info">
				<span class="author">{{post.kesfeden}}</span> • <span class="time" am-time-ago="post.tarih"></span> • <a href="#/link/{{post.$id}}" class="comment-count">{{post.yorumSayisi}} Comments</a><a href="#" ng-click="sil()"><span ng-show="silGoster()"> • sil</span></a>
			</link-info>
		</div>
	</article>
	<div class="discussion">
		<div class="post-comment">
			<form name="frm">
				<textarea cols="65" rows="8" wrap="soft" ng-model="yorum"></textarea>
				<button class="post-button" ng-disabled="!yorum" ng-click="yorumYap()">Post Comment</button>
			</form>
		</div>

		<div class="comment" ng-repeat="item in yorumlar | orderBy: 'item.yorumTarihi'">
			<div class="batman">
				<div class="mini-point">
					<img src="img/up.png" ng-click="yorumPuanVer(post.$id, item.$id)">
					<span>{{item.yorumPuanSayisi}} p</span>
				</div>
			</div>
			<div class="superman">
				<div class="comment-info">
					<span class="commenter">{{item.yorumSahibi}}</span> • <span class="time" am-time-ago="item.yorumTarihi"></span> <a href="" ng-show="yorumSilGoster(item.yorumSahibi)" ng-click="yorumSil(post.$id, item.$id)"><span> • sil</span></a>
				</div>
				<div class="comment-text">{{item.text}}</div>
			</div>
		</div>

	</div>
</div>
