<div class="content">
	<div class="nav">
		<div class="addlink"><a ui-sref="/"><p>« anasayfaya dön</p></a></div>
	</div>
	<div class="linkpage">
		<div class="link1">
			<div class="linktitle">
				<div class="upvote"><i class="upvote-icon" ng-click="puanVer()"></i><p>{{post.puanSayisi}} p</p></div>
				&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{post.link}}"><p class="title">{{post.linkad}}</p></a><p class="website"> ({{post.linkkok}})</p>
			</div>
			<div class="linkinfo">
				<p>ilk keşfeden </p><p class="linker">{{post.kesfeden}} </p><p am-time-ago="post.tarih"></p> | <p class="comment">{{yorumsay(post.yorumlar)}} yorum</p> | <p>düzenle</p>
			</div>
		</div>
		<div class="yorumgonder">
			<form name="frm">
				<textarea id="taid" cols="65" rows="8" wrap="soft" ng-model="yorum" ></textarea>
				<button ng-disabled="!yorum" ng-click="yorumYap()">yorum yap</button>
			</form>
		</div>
		<div class="yorum" ng-repeat="item in post.yorumlar | orderBy: '-yorumPuani.length'">
			<div class="upvote"><i class="upvote-ikon" ng-click="yorumPuanVer(item.$id)"></i> <span>{{yorumsay(item.yorumPuani)}} p</span></div>
			<div class="yorumyazan"><span class="linker">{{item.yorumSahibi}}</span> | <span am-time-ago="item.yorumTarihi"></span></div>
			<p>{{item.text}} </p>
		</div>
	</div>
</div>