﻿<div class="content">
	<div class="nav">
		<div class="addlink"><a ui-sref="/"><p>« anasayfaya dön</p></a></div>
	</div>
	<div class="page">
		<div class="regpage">
			<p class="pagetitle">giriş yap</p><br/>
			<form class="logform">
				<p class="inputname">email:</p> <input type="text" ng-model="user.email"><br/>
				<p class="inputname2">şifre:</p><input type="password" ng-model="user.password"><br/>
				<button ng-click="login(user)">giriş yap</button>
			</form>
			<p class="note">şifremi unuttum</p>
		</div>
	</div>
</div>
